#logger.conf

###############################################
[loggers]
keys=root, run, relay, agent, manage

[logger_root]
level=DEBUG
handlers=hand01

[logger_run]
handlers=hand01,hand02
qualname=run
propagate=0

[logger_relay]
handlers=hand01,hand03
qualname=relay
propagate=0

[logger_agent]
handlers=hand01,hand04
qualname=agent
propagate=0

[logger_manage]
handlers=hand01,hand05
qualname=manage
propagate=0

###############################################
[handlers]
keys=hand01, hand02, hand03, hand04, hand05

[handler_hand01]
class=StreamHandler
level=DEBUG
formatter=form01
args=(sys.stderr,)

[handler_hand02]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=form01
args=('log/run.log', 'a', 10*1024*1024, 5)

[handler_hand03]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=form01
args=('log/relay.log', 'a', 10*1024*1024, 5)

[handler_hand04]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=form01
args=('log/agent.log', 'a', 10*1024*1024, 5)

[handler_hand05]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=form01
args=('log/manage.log', 'a', 10*1024*1024, 5)

###############################################
[formatters]
keys=form01, form02

[formatter_form01]
format=%(levelname)s: %(asctime)s %(filename)s[line:%(lineno)d]: %(message)s

[formatter_form02]
format=%(levelname)s: %(asctime)s %(filename)s[line:%(lineno)d] %(processName)s[%(process)d] %(threadName)s[%(thread)d]: %(message)s





